







* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 

}

@mixin centerContent() {
    display: flex;
    justify-content: center;
    align-items: center;  
    span { 
        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;;
        background: rgba(255, 255, 255, 0.85);
        padding: 2rem;
        border-radius: 10px;
        font-weight: 700;
        color:rgba(12, 12, 12, 1);
        text-transform: uppercase;
        font-size: x-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
} 
@mixin parallax($end) {
    background: url('../img/parallax' + $end);
    background-attachment: fixed;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

section {  
    div { 
        width: 100%;
        height: 100%;
    }
    .a { 
        background: linear-gradient(rgb(12, 12, 12), rgb(20, 20, 20));
        @include centerContent();
    }
    .b { 
        @include parallax('1.avif');
        background-size: 130%; 
        @include centerContent();
    }
    .c {
        background: linear-gradient(rgb(58, 207, 212), rgb(70, 203, 207)); 
        @include centerContent();
    }
    .d {   
        @include parallax('3.avif');
        background-size: 100%; 
        @include centerContent(); 
    }
    .e { 
        background: linear-gradient(rgb(255, 142, 37), rgb(255, 154, 59 ));
        @include centerContent();
    } 

}

@media (min-width: 1300px) {
    section .b {
        @include parallax('2.avif');
        background-size: 100%; 
        @include centerContent();
    } 
}